.icon-triangle {
    background: url("../image/icons/tr.png") 0 50% no-repeat;
    padding-left: 20px;
}

.icon-dot {
    background: url("../image/icons/black.png") 0 50% no-repeat;
    padding-left: 20px;
}

.icon-abys {
    background: url("../image/icons/abys-small.png") 0 50% no-repeat;
  	padding-left: 30px;
    background-position-y:6px;
}

.icon-1 {
    background: url("../image/icons/1.png") 0 50% no-repeat;
}

.icon-2 {
    background: url("../image/icons/2.png") 0 50% no-repeat;
}

.icon-3 {
    background: url("../image/icons/3.png") 0 50% no-repeat;
}

.icon-4 {
    background: url("../image/icons/4.png") 0 50% no-repeat;
}

.icon-5 {
    background: url("../image/icons/5.png") 0 50% no-repeat;
}

.icon-1, .icon-2, .icon-3, .icon-4, .icon-5 {
    padding-left: 25px;

    min-height:20px;
}